{{#if products}}
<section class="flex flex-col gap-6" aria-labelledby="featured-products-heading">
    <div>
        <h1 class="text-3xl font-semibold" id="featured-products-heading">Featured products</h1>
    </div>

    <ul class="grid grid-cols-1 gap-6 sm:grid-cols-2 lg:grid-cols-3">
        {{#each products}}
            <li>
                {{> components/product-card/product-card customer=../customer hide_price_from_guests=../settings.hide_price_from_guests}}
            </li>
        {{/each}}
    </ul>
</section>
{{/if}}
